@media screen and (max-width: 1200px) {
  .left {
    margin-left: 10px;
  }
  .right {
    margin-right: 10px;
  }
  .logo {
    margin-left: 0;
  }
  .login {
    margin: 0;
  }
  .right__text {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1320px) {
  .right__flex {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1020px) {
  .h1__text {
    font-size: 100px;
    line-height: 150px;
  }
  .right__flex {
    margin-top: 150px;
  }
}
@media screen and (max-width: 900px) {
  .left {
    display: none;
  }
  .burger-menu {
    display: block;
    margin-bottom: 20px;
  }
  .burger_flex {
    display: flex;
    justify-content: space-around;
  }
  .burger-menu {
    padding-top: 14px;
  }
  .nav {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 800px) {
  .box {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .h1__text {
    position: static;
    text-align: center;
  }
  .right__text {
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 470px) {
  .right__text {
    flex-direction: column;
    align-items: center;
  }
  .h1__text {
    font-size: 60px;
    line-height: 120px;
  }
  .h2__text {
    text-align: center;
  }
  .right__flex {
    margin-left: 0;
    margin-top: 60px;
    text-align: center;
  }
  .button__text {
    margin-bottom: 50px;
  }
  .right {
    gap: 20px;
  }
}
